<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Home</title>
</head>

<body>
  <div class="container">
    <header class="flex">
      <ul class="header__list flex">
        <li class="header__list-item">First</li>
        <li class="header__list-item">Second</li>
        <li class="header__list-item">Third</li>
      </ul>
    </header>
    <div class="banner flex">
      <div class="banner__title-container">
        <h1 class="banner__title">Denis Kotlyarchuk</h1>
        <h4 class="banner__subtitle">From Kaliningrad, Russia</h4>
      </div>
    </div>
    <main>
      <div class="jobs__title-container">
        <h2 class="jobs__title">That's what I did:</h2>
      </div>
      <div class="jobs__container">
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
        <div class="jobs__job">
          <div class="job__image"></div>
          <div class="job__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eius ex dolorum culpa excepturi doloremque!</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>